*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}
body.dark{
    background-color: #222;
}
.checkbox{
    opacity: 0;
    position: absolute;
}
.label{
    width: 200px;
    height: 100px;
    background-color: #000;
    border-radius: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
.fa-sun{
    font-size: 50px;
    color: #fff;
    margin-left: 25px;
}
.fa-moon{
    font-size: 50px;
    color: #fff;

    margin-right: 20px;
}
.ball{
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 5%;

    transform: translateY(-50%);

    transition: all 0.3s;
}

.checkbox:checked + .label{
    background-color: #fff;
}
.checkbox:checked + .label .fa-sun{
    color: #000;
}
.checkbox:checked + .label .fa-moon{
    color: #000;
}
.checkbox:checked + .label .ball{
    /* background-color: #000; */
    border: 3px solid #000;
    transform: translate(130%,-50%);
}