@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #000;
}
.calc{
    width: 390px;
    margin: 100px auto;
}
.display{
    height: 120px;
    color: #ffffff;
    font-size: 80px;
    text-align: right;
    padding: 10px;
}
.key{
    background-color: #333333;
    color: #fff;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
    font-size: 35px;
    cursor: pointer;
    user-select: none;

    margin: 5px;
}
.key:active{
    background-color: #33333390;
}
.zero{
    width: 190px;
    border-radius: 90px;
}
tr:first-child td .key{
    background-color: #a5a5a5;
    color: #000000;
}
tr:first-child td .key:active{
    background-color: #a5a5a590;
}
tr td:last-child .key{
    background-color: #ffa45c;
    color: #ffffff;
}
tr td:last-child .key:active{
    background-color: #ffa45c90;
}
